In [1]:
#All the necessary packages we used for this project
import pandas as pd
import numpy as np
import json
import networkx as nx
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
import matplotlib.cm as cm
import plotly.express as px
import ast
import operator
import powerlaw
from fa2 import ForceAtlas2
import re
from urllib.request import urlopen
import urllib.request as urllib2
import os




songs = pd.read_csv("Songs_Sorted_Years.csv")  
songs

                             Song  Year      Month  Day Lyrics
0                      love-me-do  1962    October    5    Yes
1                   ps-i-love-you  1962    October    5    Yes
2                      ask-me-why  1963    January   11    Yes
3                please-please-me  1963    January   11     No
4                     taste-honey  1963      March   22     No
..                            ...   ...        ...  ...    ...
296              you-know-what-do  1995   November   20    Yes
297  you-never-give-me-your-money  1969  September   26    Yes
298                sie-liebt-dich  1964      March    5    Yes
299                     slow-down  1958      March    7     No
300               you-me-too-much  1965     August    6    Yes

[301 rows x 5 columns]

In [12]:
songs = pd.read_csv("Songs_Sorted_Years.csv")  
DataSongs=pd.DataFrame(songs)

print(len(DataSongs))

301

In [10]:

206+95

301